/* GENERAL STUFFS */

:root {
    --background: #c5e8ff;
    --backgrounddark: #a5c9e0;
    --backgrounddark2: #77a0ba;
    --primary: #ffdf91;
    /*--gradient1: #218c74;
    --gradient2: #b8e994;*/
    --gradient1: #3c74b1;
    --gradient2: #96e1ff;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}


html{
    height: 100%;
    /*scroll-behavior: smooth;*/
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background: #0a0c26;
}

h1, h2, h3, h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

small, a {
    text-decoration: none;
    background-color: transparent;
    font-size: 13px;
}
a:hover {
    color: var(--gradient1);
    text-decoration: underline; }

h1, h2, h3, h5,
.h1, .h2, .h3, .h5 {
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2; }

h1, .h1 {
    font-size: 2rem; }

h2, .h2 {
    font-weight: 600;
    font-size: 28px;
}

h3, .h3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 40px;
}

h5, .h5 {
    font-size: 1rem;
    font-weight: 500;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* TEXT COLOR STYLE */

.text-gradient {
    background: -moz-linear-gradient(102deg, var(--gradient1) 0%, var(--gradient2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--gradient2)), color-stop(100%, var(--gradient1)));
    background: -webkit-linear-gradient(102deg, var(--gradient1) 0%, var(--gradient2) 100%);
    background: -o-linear-gradient(102deg, var(--gradient1) 0%, var(--gradient2) 100%);
    background: -ms-linear-gradient(102deg, var(--gradient1) 0%, var(--gradient2) 100%);
    background: linear-gradient(348deg, var(--gradient1) 0%, var(--gradient2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-white {
    color: #fff
}

.text-skred {
    color: #6c757d;
}

/* COLUMN DIVS */

.col-type-1, .col-type-1b, .col-type-3, .col-type-00, .col-type-4, .col-type-2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-type-1 {
        flex: 0 0 42%;
        max-width: 42%;
    }
    .col-type-1b {
        flex: 0 0 58%;
        max-width: 58%;
    }
    .col-type-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-type-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-type-4 {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .col-type-5 {
        flex: 0 0 36%;
        max-width: 36%;
    }
    .col-type-5b {
        flex: 0 0 28%;
        max-width: 28%;
    }

}
.col-type-00 {
    flex: 0 0 50%;
    max-width: 50%;
}


/*TITLE*/
.main_title {
    text-align: left;
    background: url("images/main.jpg") no-repeat center center;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container_title {
    align-self: center;
    width: 100%;
    left: 5vw;
    padding-right: 15vw;
    padding-left: 15vw;
    padding-top: 20vh;
    padding-bottom: 5vh;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: 4vh;
    flex: 0 0 100%;
    max-width: 100%;
    border-collapse: collapse;
    height: 100%;
}

.main_title h1 {
    font-size: 4vw;
    text-transform: uppercase;
}
.main_title p {
    font-size: 2vw;
    display: inline-block;
    line-height: 2vw;
}

.btn_go_viz{
    width: 16vw;
    bottom: 5vh;
    position: absolute;
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
    font-size: 2vw;
    background-color: #77a0ba;
    border: none;
    padding: 1% 2%;
    opacity: 0.6;
    transition: 0.5s;
    border-radius: .5em;
    cursor: pointer;
}

.btn_go_viz:hover {opacity: 0.8}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.lineEnd{
    font-size: 1.5vw;
    position: absolute;
    text-align: center;
    bottom: 5vh;
}

.imageEnd{
    position: absolute;
    text-align: center;
    width: 1%;
    bottom: 2vh;
}

/*ANIMATED TEXT*/

.animated-text {
    padding-top: 125px;
    background: #0a0c26;
    margin-bottom: 1.5rem;

    overflow: hidden;
}
.animated-text h3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 40px;
}
.animated-text h4 {
    font-weight: 600;
    font-size: 28px;
}
.animated-text p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-top: 20px;
}

.animated-text .animated-text-wrap {
    margin-bottom: 80px; }

.container_animated-text {
    width: 100%;
    height: 100%;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
@media (min-width: 576px) {
    .container_animated-text {
        max-width: 540px; } }
@media (min-width: 768px) {
    .container_animated-text {
        max-width: 720px; } }
@media (min-width: 992px) {
    .container_animated-text {
        max-width: 960px; } }
@media (min-width: 1200px) {
    .container_animated-text {
        max-width: 1140px; } }

/* ANIMATED IMAGES*/

.animated-images {
    background: #0a0c26;
}


.container_animated-images {
    width: 100%;
    height: 0%; /*Ajout Vincent*/
    padding-top: 25px; /*Ajout Vincent*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

ul#about_list li { /*Ajout Vincent (full block)*/
  display: inline;
  padding-right: 15px;
}

.animated-images .im01 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-right: 1rem;
    padding-top: 3rem;
    padding-right: 3rem;
    overflow: hidden;
    background-image: url('images/1872.jpg');
}

.animated-images .im02 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-right: 1rem;
    padding-top: 3rem;
    padding-right: 3rem;
    overflow: hidden;
    background-image: url('images/1880.jpg');
}

@media (min-width: 768px) {
    .box-dark {
        background: rgba(10, 12, 38, 0.7);
        margin-right: 1rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 3rem;
        text-align: center;
        overflow: hidden;
    }
}
.box-dark {
    background: rgba(10, 12, 38, 0.7);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    overflow: hidden;
}


/* PARALLAX */

.animated-parallax {
    padding: 150px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.animated-parallax-bgd-1{background: url('images/1930.jpeg') no-repeat;}
.animated-parallax-bgd-2{background: url('images/1950-4.jpg') no-repeat;}
.animated-parallax-bgd-3{background: url('images/2006.jpg') no-repeat;}

.animated-parallax-bgd-1, .animated-parallax-bgd-2, .animated-parallax-bgd-3 {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 0.7;
}

.container_animated-parallax {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
}

.animated-parallax h3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 40px;
}

.animated-parallax p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

/* FOOTER */
footer {
    padding: 80px 0;
    display: block;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -81px;
}
.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 81px;
}











/*/*/*/*/*/*/*/*/*/*/*/






*{margin: 0;padding: 0;}

.container_timeline {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    overflow-x: scroll;
    margin-top: 10px;
    display: inline-block;
}


#thumbs
{
    background-color: rgb(10, 12, 38);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 100px;
}

.history-block {
    height: 100%;
    width: 300px;
    background: #0a0c26;
    margin: 2px;
    border-right: 10px solid rgb(10, 12, 38);/*var(--gradient2);*/
    display: inline-block;
    font-size:60px;
    font-weight: 100;
    color: #FFF;
    cursor: pointer;
    /*box-shadow: 2px 5px 20px #222;*/
    transition: width 0.2s;
}

.history-block:last-of-type {
    border-right: none;
}

.cover {
    height: 100%;
    transition: background 2s;
    background: rgba(10, 12, 38, 0.9);
}

.cover:hover {
    width: 100%;
    height: 100%;
    transition: background 2s;
    background: rgba(10, 12, 38, 0.6);
}

.year {
    position: absolute;
    top: 0px;
    font-size: 30px;
    font-weight:500;
    margin: 40px 30px;
}

.section-btn {
    position: absolute;
    display: block;
    top: 60px;
    font-size: 15px;
    margin: 30px;
    white-space: normal;
    cursor:cell;
    margin-top: 40px;
    padding:0.3em 1.2em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color: var(--gradient1);
    text-align:center;
    transition: all 0.5s;
}
.section-btn:hover {
    background-color: #3C74B1;
}

.bg-tl-1 {background: url("images/1880.jpg");}
.bg-tl-2 {background: url("images/1916.jpeg");}
.bg-tl-3 {background: url("images/1930.jpeg");}
.bg-tl-4 {background: url("images/19583.png");}
.bg-tl-5 {background: url("images/1974.jpg");}
.bg-tl-6 {background: url("images/1994.jpg");}
.bg-tl-7 {background: url("images/2006.jpg");}
.bg-tl-8 {background: url("images/Last_Mbappe.jpeg");}
.bg-tl-1, .bg-tl-2, .bg-tl-3, .bg-tl-4, .bg-tl-5, .bg-tl-6, .bg-tl-7, .bg-tl-8 {
    background-size:cover;
}

.stats{
    position: absolute;
    display: none;
    width: 600px;
    bottom: 10px;
    font-size: 15px;
    margin: 30px;
    white-space: normal;
    transition: width 0.2s;
}

.stats p{
    text-decoration: none;
    background-color: transparent;
    font-size: 15px;
    line-height: 10px;
}

.stats small{
    text-decoration: none;
    background-color: transparent;
    font-size: 10px;
    line-height: 9px;
}

.stats em{
    text-decoration: none;
    background-color: transparent;
    font-size: 10px;
    line-height: 2px;
    color: rgba(0,0,0,0);
}

